@use '../../../node_modules/bootstrap/scss/bootstrap' as *;
@use '../abstracts/variables' as *;

.btn-cta {
  @include button-variant($secondary-dark, $secondary-middle);
  border-radius: 15px;
  padding: 1rem 3rem;
  font-size: 2rem;
  color: white;
}
