/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__icon {
 width: 30px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded {
  max-height: 100vh;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
