/* Icons */
@use '../abstracts/variables' as *; 

.icon {
  width: 26px;
  height: 22px;
}

.icon-container {
  background: $primary-light;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Skins */
.icon--nav {
  stroke: $secondary-middle;
}
