@import "tailwindcss";

/* Carga DaisyUI como plugin de Tailwind, activando todos sus componentes */
@plugin "daisyui";

/**
 * Tema personalizado de Planazo
 * Define la paleta de colores basada en el diseño original del proyecto
 * Se activa con data-theme="planazo" en el elemento html
 */
@plugin "daisyui/theme" {
  name: "planazo";
  default: true;

  /* Colores principales */

  --color-neutral: #171718;        /* Negro casi puro */
  
  /* Colores de fondo */
  --color-base-100: #fefaef;       /* Fondo principal cálido */
  --color-base-200: #f5f0e0;       /* Fondo secundario */
  --color-base-300: #cfcfd2;       /* Fondo terciario / bordes */
  
  /* Colores de texto */
  --color-base-content: #171718;   /* Texto principal */


  --color-primary: #6123F3;
  --color-primary-content: #FFE473;
  
  --color-secondary: #F87A36;
  --color-secondary-content: #ffffff;
  --color-accent: #FCCE09;
  --color-accent-content: #DB0B79;     
  

}

/**
 * Estilos base del body
 * Aplica fondo, color de texto y tipografía por defecto
 */
body {
  background: var(--color-base-100);
  color: var(--color-base-content);
  font-family: var(--font-space-grotesk);
}

@utility btn {
  @apply font-bold text-base;
}
/**
 * Registro de fuentes en Tailwind v4
 * Permite usar font-sans y font-display como clases de Tailwind
 */
@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-display: var(--font-bagel-fat-one);
}