/* Color Palette */

$ink-light: #cfcfd2;
$ink-middle: #646468;
$ink-dark: #171718;

$primary-light: #fcd665;
$primary-middle: #ee9e46;
$primary-dark: #e0604d;
$primary-darkest: #86301b;

$secondary-dark: #566be1;
$secondary-middle: #928ef5;
$secondary-light: #a5ceff;

$accent-main: #47ceba;
$accent-support: #fabec3;

$background-light: #fefaef;