@use '../abstracts/variables' as *;

.feature {
    background: $background-light;
    margin: 4rem 4rem;
    padding: 5rem 2rem;
    text-align: center;
    border-radius: 20px;
    border: 1px solid $ink-dark;
    box-shadow: 6px 6px 0 $ink-dark;
    gap: 4rem;
    place-items: center;

    .link-flecha {
        color: $ink-dark;
        // Por alguna razón el margin-top no funciona
    }
    p {
        margin-bottom: 2rem;
    }
}


.feature__image {
    width: 80%;
}

.feature__heading {
    font-weight: bold;
}

/* Skins */

.feature--secondary-middle {
    background: $secondary-middle;
}

.feature--primary-light {
    background: $primary-light;
}

.feature--accent-main {
    background: $accent-main;
}

.feature--dark{
    background: $ink-dark;
    color: $primary-dark;
    border: 1px solid $primary-dark;
    box-shadow: 6px 6px 0 $primary-dark;
    
    .feature__heading {
        color: $primary-dark;
    }

    .link-flecha {
        color: $primary-dark;
    }
}

@media screen and (min-width: 1024px) {
    .feature {
        text-align: left;
        padding: 7rem 8rem;
        max-width: 970px;
        margin: 8rem auto;
    }
    .feature__heading {
        font-size: 5.7rem;
    }

    .feature__image {
        width: 120%;
    }
}


