/* Hero */
@use '../abstracts/variables' as *;

// .hero {}

.hero__tagline {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: $secondary-light;
}

.hero__image {
  width: 100%;
}

.hero__content > h1 {
    font-size: 4rem;
    color: $secondary-dark;
}

@media screen and (min-width: 1024px) {
  .hero__content {
    text-align: left;
    align-self: center;

    h1{
        font-size: 8rem;
    }

    p {
        font-size: 2.8rem;
    }
  }
  .hero {
    padding-top: 0;
  }
}