/* Navigation */
@use '../abstracts/variables' as *;
.nav {
  background: $background-light;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}
