/* Card oruga */

.card-oruga {
    display: flex;
    justify-content: center;
    .card-oruga__image {
        width: 200px;
        height: 200px;
        background: dodgerblue;
        border-radius: 100px;
        box-shadow: 0 0 30px 3px black;
        margin-left: -40px;

    }
    .card-oruga__image:nth-child(1) { z-index: 5; }
    .card-oruga__image:nth-child(2) { z-index: 4; }
    .card-oruga__image:nth-child(3) { z-index: 3; }
    .card-oruga__image:nth-child(4) { z-index: 2; }
}