/* Card oruga */
@use '../components/card' as *;
@use '../abstracts/variables' as *;

.card-oruga {
    @include card-base($background-light, $ink-dark, 10rem);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    .card-oruga__image {
        width: 100px;
        height: 100px;
        background: dodgerblue;
        border-radius: 100px;
        border: 1px solid black;
        margin-left: -40px;

    }
    .card-oruga__image:first-child {
        margin-left: 0;
    }

}