/* Card oruga */
@use '../components/card' as *;
@use '../abstracts/variables' as *;

.card-oruga {
    @include card-base($background-light, $accent-main, 10rem);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;;

    .card-oruga__image {
        width: 50px;
        height: 50px;
        background: dodgerblue;
        border-radius: 100px;
        // border: 3px solid $primary-middle;
        margin-left: -20px;

    }
    .card-oruga__image:first-child {
        margin-left: 0;
    }

    p {
        margin-left: 2rem;
        margin-block-end: 0;
        color: $accent-main;

        b {
            font-size: 2rem;
        }
    }

}