   <div class="collapsible ">

      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg  class="icon icon--collapser nav__toggler">
          <use href="images/iconos.svg#menu"></use>
        </svg>
      </header>

      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit,
        possimus.
      </div>

</div>

    <div class="collapsible ">

      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--collapser">
          <use href="images/iconos.svg#menu"></use>
        </svg>
      </header>

      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit,
        possimus.
      </div>
    </div>
  
