 <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <h3 class="feature__heading text-capitalize">Planes que encajan&nbsp;contigo</h2>
        <p>Descubre planes y personas según tus intereses. Menos buscar, más disfrutar.</p>
        <div class="feature__link">
          <a href="#" class="link-flecha">Saber más</a>
           <svg class="icon">
            <use href="images/iconos.svg#flecha"></use>
          </svg>
        </div>
      </div>
      <img class="feature__image" src="images/feature1.png" alt="">
    </article>

    <article class="grid grid--1x2 feature feature--secondary-middle">
      <div class="feature__content">
        <h3 class="feature__heading text-capitalize">Planes que encajan&nbsp;contigo</h2>
        <p>Descubre planes y personas según tus intereses. Menos buscar, más disfrutar.</p>
        <div class="feature__link">
          <a href="#" class="link-flecha">Saber más</a>
           <svg class="icon">
            <use href="images/iconos.svg#flecha"></use>
          </svg>
        </div>
      </div>
      <img class="feature__image" src="images/feature1.png" alt="">
    </article>

    <article class="grid grid--1x2 feature feature--primary-light">
      <div class="feature__content">
        <h3 class="feature__heading text-capitalize">Planes que encajan&nbsp;contigo</h2>
        <p>Descubre planes y personas según tus intereses. Menos buscar, más disfrutar.</p>
        <div class="feature__link">
          <a href="#" class="link-flecha">Saber más</a>
           <svg class="icon">
            <use href="images/iconos.svg#flecha"></use>
          </svg>
        </div>
      </div>
      <img class="feature__image" src="images/feature1.png" alt="">
    </article>

    <article class="grid grid--1x2 feature feature--accent-main">
      <div class="feature__content">
        <h3 class="feature__heading text-capitalize">Planes que encajan&nbsp;contigo</h2>
        <p>Descubre planes y personas según tus intereses. Menos buscar, más disfrutar.</p>
        <div class="feature__link">
          <a href="#" class="link-flecha">Saber más</a>
           <svg class="icon">
            <use href="images/iconos.svg#flecha"></use>
          </svg>
        </div>
      </div>
      <img class="feature__image" src="images/feature1.png" alt="">
    </article>

    <article class="grid grid--1x2 feature feature--dark">
      <div class="feature__content">
        <h3 class="feature__heading text-capitalize">Planes que encajan&nbsp;contigo</h2>
        <p>Descubre planes y personas según tus intereses. Menos buscar, más disfrutar.</p>
         <div class="feature__link">
          <a href="#" class="link-flecha">Saber más</a>
           <svg class="icon">
            <use href="images/iconos.svg#flecha"></use>
          </svg>
        </div>
      </div>
      <img class="feature__image" src="images/feature1.png" alt="">
    </article>