<article class="container card-oruga">
  <div class="grid grid--1x2">
    <div class="oruga">
      <img src="images/profiles/person1.png" class="card-oruga__image" />
      <img src="images/profiles/person2.png" class="card-oruga__image" />
      <img src="images/profiles/person3.png" class="card-oruga__image" />
      <img src="images/profiles/person4.png" class="card-oruga__image" />
      <img src="images/profiles/person5.png" class="card-oruga__image" />
      <img src="images/profiles/person6.png" class="card-oruga__image" />
    </div>
    <p><b>+1200 </b>personas ya se han unido!</p>
  </div>
</article>
