body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: Arial;
}

.wrapper {
  position: relative;
  width: 1750px;
}

.container {
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.4s ease;
  gap: 20px;
}

.card {
  min-width: 300px;
  background: whitesmoke;
  border-radius: 10px;
  flex-shrink: 0; 
  transition: transform 0.3s;
  margin: 0 10px;
}

.card img {
  width: 250px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.card h3 {
  margin: 10px 0 5px;
  text-align: center;
}

.card p {
  padding: 0 10px 10px;
  font-size: 0.9rem;
}

.card a {
  padding: 0 10px 10px;
  font-size: 0.9rem;
}

.card:hover {
  transform: scale(1.05); /* Hace que parezca que se selecciona cada carta al pasar el raton por encima */
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}

#prev { left: -50px; }
#next { right: -50px; }