body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: Arial;
}

.wrapper {
  position: relative;
  width: 700px;
}

.container {
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.4s ease;
}

.card {
  min-width: 300px;
  margin: 0 10px;
  height: 200px;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 10px;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}

#prev { left: -50px; }
#next { right: -50px; }