body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-section {
  width: 100%;
  margin-top: 40px;
}

.wrapper {
  position: relative;
  display: flex;
  width: 1800px;
  overflow: visible;
}

.container {
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.4s ease;
  gap: 20px;
  padding-left: 70px;
}

.card {
  min-width: 380px;
  height: 500px;
  margin: 0 20px;
  background: lightgray;
  color: white;
  border-radius: 20px;
  transition: all 0.4s ease;
  text-align: center;
}

.card img {
  width: 250px;
  border-radius: 10px 10px;
  text-align: center;
}

.card h3 {
  margin: 10px 0 5px;
  text-align: center;
}

.card p {
  padding: 0 10px 10px;
  font-size: 0.9rem;
  text-align: left;
}

.card a {
  padding: 0 10px 10px;
  font-size: 0.9rem;
  text-align: left;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}

#prev { left: 20px; }
#next { left: 1820px; }

h1 {
  text-align: center;
}