<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Hello world</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum hic veniam
      magnam quidem quos ipsa.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Hello world</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum hic
        veniam magnam quidem quos ipsa.
      </p>
    </header>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Hello world</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum hic
        veniam magnam quidem quos ipsa.
      </p>
    </header>
  </div>
</section>
