.home {
    width: 100vw;
    background: black;
    display: flex;
    border: 3px solid red;
}

.planesContainer{
    border: 3px solid pink;
    flex: 1;
    height: 100vh;
    overflow-y: auto;
}

.stack {
    height: 100vh;
    width: 500px;
    overflow-y: auto;
    border: 3px solid dodgerblue;
    background: brown;
}